<nav class="navbar navbar-expand-lg bg-danger">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav1" href="#">Home</a>
        <a class="nav1" routerLink="/lista">Listagem</a>
        <a class="nav1" routerLink="/add">Cadastrar Livro</a>
        <a class="nav1" routerLink="/cards">Cards</a>
      </div>
    </div>
  </div>
</nav>


